@font-face {
  font-family: "Caveat-Bold";
  src: url(../../public/fonts/Caveat-Bold.ttf);
}

@font-face {
  font-family: "Caveat-Regular";
  src: url(../../public/fonts/Caveat-Regular.ttf);
}

@font-face {
  font-family: "Lato-Regular";
  src: url(../../public/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lato-Italic";
  src: url(../../public/fonts/Lato/Lato-Italic.ttf);
}

@font-face {
  font-family: "Lato-Black";
  src: url(../../public/fonts/Lato/Lato-Black.ttf);
}

@font-face {
  font-family: "Lato-Light-Italic";
  src: url(../../public/fonts/Lato/Lato-LightItalic.ttf);
}

@font-face {
  font-family: "Lato-Thin-Italic";
  src: url(../../public/fonts/Lato/Lato-ThinItalic.ttf);
}

@font-face {
  font-family: "Lato-Light";
  src: url(../../public/fonts/Lato/Lato-Light.ttf);
}

@font-face {
  font-family: "Lato-Thin";
  src: url(../../public/fonts/Lato/Lato-Thin.ttf);
}
