header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 99;
}

nav {
  height: 50px;
  width: 650px;
  //   background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-family: "Caveat-Regular";
}

.logo {
  width: 300px;
  height: 55px;
  //   background-color: red;
}

.login-nav {
  width: 158px;
  height: 52px;
  background-color: #ffd972;
  border-radius: 26px;
  padding: 15px 35px 12px 52px;
  box-shadow: 0px 10px 6px rgba(74, 73, 73, 0.2);

  a {
    text-decoration: none;
    font-size: 25px;
    color: #000;
  }
}

.mobile-nav {
  display: none;
}

#hamburger-icon {
  display: none;
}

@media screen and (max-width: 950px) {
  nav {
    width: 35px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
  }
  nav a {
    display: none;
  }

  .login-nav {
    display: none;
  }

  .login-mobile-nav {
  }

  .mobile-nav {
    height: 100vh;
    margin-top: 100px;
    display: none;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #ffd972;

    a {
      text-decoration: none;
      color: #000;
      width: 100%;
      text-align: center;
      height: 90px;
      font-size: 22px;
      padding: 50px;
      border-bottom: 1px solid #e4c365;
      font-family: "Segoe UI";
    }
  }

  .mobile-nav.mobile-nav-open {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  header.mobile-header-open {
    background-color: #ffd972;
  }

  #app.mobile-screen {
    display: none;
  }

  footer.mobile-screen {
    display: none;
  }

  #hamburger-icon {
    margin: auto 0;
    display: block;
    cursor: pointer;

    div {
      width: 35px;
      height: 3px;
      background-color: #000;
      margin: 6px 0;
    }
  }
}
